tr:nth-child(odd) td:nth-child(even) {
  background-color: black;
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

tr:nth-child(odd) td:nth-child(odd) {
  background-color: red;
}

tr:nth-child(even) td:nth-child(even) {
  background-color: gold;
}

h1::before {
  display: inline-block;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80;
  content: "L";
}
